<div class="header">
	<ul class="nav nav-pills pull-right">
		<li class="{{ page.contact }}"><a href="/contact" title="contact">联系我们</a></li>
		<li class="{{ page.recruitment}}"><a href="/recruitment" title="recruitment">人才招聘</a></li>
		<li class="{{ page.product }}"><a href="/product" title="product">产品中心</a></li>
		<li class="{{ page.company }}"><a href="/company" title="company">公司简介</a></li>
		<li class="{{ page.news }}"><a href="/news" title="news">新闻中心</a></li>
		<li class="{{ page.links }}"><a href="/links" title="links">友情链接</a></li>
		
	</ul>
	<h3 class="text-muted"><a href="/">致远建材</a></h3>
</div> <!-- /header -->
